@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  height: 4em;
  min-width: 100vw;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: transparent;
  background-image: linear-gradient(180deg, #845ec2, #d65db1, #ff6f91);
  background-clip: text;
  -webkit-background-clip: text;
}

section {
  position: ;
}
